<%= form_for @game do |f| %>
  <% if @game.errors.size > 0 %>
    <ul>
      <% @game.errors.each do |field, error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
