<h1>Games</h1>

<div>
  <%= link_to 'New Game', [:new, :game] %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td>
          <%= link_to 'View', game %>
          <%= link_to 'Edit', [:edit, game] %>
          <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure you want to destroy?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
